<!DOCTYPE html>
<html lang="no">
<%include common/header%>
<body>
<nav class="navbar navbar-main">
	<div class="container">
		<div class="navbar-brand is-flex-center">
			<a class="navbar-item navbar-logo" href="/">
				<img src="http://pic.k73.com/up/article/2015/0702/163648_66189917.png" alt="Saro">
			</a>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item is-active" href="/">Home</a>
				<a class="navbar-item" href="events">近况</a>
				<a class="navbar-item" href="danmu">弹幕</a>
			</div>
		</div>
	</div>
</nav>

<section class="section">
	<div class="outer">
		<div class="columns">
			<div class="column is-0-tablet is-0-desktop is-1-widescreen has-order-1 column-main">
			</div>
			<div class="column is-4-tablet is-4-desktop is-3-widescreen  has-order-2 column-left">
				<div class="card widget">
					<div class="card-content">
						<nav class="level">
							<div class="level-item has-text-centered">
								<div>
									<img class="image is-128x128 has-mb-6"
										 src="https://apic.douyucdn.cn/upload/avatar/012/91/27/80_avatar_big.jpg"
										 alt="Saro">

									<p class="is-size-4 is-block">
										Saro
									</p>
									<p class="is-size-6 is-flex is-flex-center has-text-grey">
										<i class="fas fa-map-marker-alt has-mr-7"></i>
										<span>San Mateo, CA</span>
									</p>
								</div>
							</div>
						</nav>
						<nav class="level is-mobile">
							<div class="level-item has-text-centered is-marginless">
								<div>
									<p class="heading">
										微博关注
									</p>
									<p class="title has-text-weight-normal">
										20k
									</p>
								</div>
							</div>
							<div class="level-item has-text-centered is-marginless">
								<div>
									<p class="heading">
										斗鱼关注
									</p>
									<p class="title has-text-weight-normal">
										30k
									</p>
								</div>
							</div>
							<div class="level-item has-text-centered is-marginless">
								<div>
									<p class="heading">
										b站关注
									</p>
									<p class="title has-text-weight-normal">
										5k
									</p>
								</div>
							</div>
						</nav>
						<div class="level is-mobile">
							<a class="level-item button is-white is-marginless" target="_blank" title="Youtube"
							   href="https://www.youtube.com/channel/UCRT9bmfZJ9-LR781zgwexwA">
								<i class="fa fa-youtube"></i>
							</a>

							<a class="level-item button is-white is-marginless" target="_blank" title="weibo"
							   href="https://www.weibo.com/sarosang?refer_flag=1005050010_&is_hot=1">
								<i class="fa fa-weibo" aria-hidden="true"></i>
							</a>

							<a class="level-item button is-white is-marginless" target="_blank" title="Steam"
							   href="http://twitter.com" >
								<i class="fa fa-steam"></i>
							</a>

							<a class="level-item button is-white is-marginless" target="_blank" title="QQ"
							   href="http://twitter.com">
								<i class="fa fa-qq"></i>
							</a>
						</div>
						<div class="card-content">
							<div class="menu">
								<h3 class="menu-label">
									Tags
								</h3>
								<div class="field is-grouped is-grouped-multiline">

									<div class="control">
										<a class="tags has-addons" href="#">
											<span class="tag">dota</span>
											<span class="tag is-grey">1</span>
										</a>
									</div>

									<div class="control">
										<a class="tags has-addons" href="#">
											<span class="tag">微博</span>
											<span class="tag is-grey">2</span>
										</a>
									</div>

									<div class="control">
										<a class="tags has-addons" href="#">
											<span class="tag">日常</span>
											<span class="tag is-grey">1</span>
										</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-8-tablet is-8-desktop is-8-widescreen has-order-3 column-main">
				<div class="card">
					<div class="card-content article ">
						<div class="level article-meta is-size-7 is-uppercase is-mobile is-overflow-x-auto">
						</div>
						<h1 class="title is-size-3 is-size-4-mobile has-text-weight-normal">
							<p>Welcome to <a href="https://yuba.douyu.com/group/721" target="_blank" rel="noopener">Saro's
									home</a></a>.</p>
						</h1>
						<div class="content">
							<h3 id="Create-a-new-post"><a href="#Create-a-new-post" class="headerlink"
														  title="Create a new post"></a>一个完整的视频了解完整的SARO๑</h3>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/FIz93kkcyrQ"
									frameborder="0"
									allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content article ">
						<div class="level article-meta is-size-7 is-uppercase is-mobile is-overflow-x-auto">
							<div class="level-left">
								<time class="level-item has-text-grey" datetime="2019-01-18T08:00:00.000Z">2019-01-18
								</time>
							</div>
						</div>

						<h1 class="title is-size-3 is-size-4-mobile has-text-weight-normal">
							<a class="has-link-black-ter" href="#">dota</a>
						</h1>
						<div class="content">
							<p>我的驴好大…八连胜被终结之前的留念m…但是…最终我还是吃鸡啦！！！嘿嘿嘿！！ ​​​​<br><img
										src="/images/006kbxNUly1fzateh22kwj31bh0u0n7z.jpg" alt="xiaqi"></p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content article ">
						<div class="level article-meta is-size-7 is-uppercase is-mobile is-overflow-x-auto">
							<div class="level-left">
								<time class="level-item has-text-grey" datetime="2019-01-07T08:00:00.000Z">2019-01-07
								</time>
							</div>
						</div>

						<h1 class="title is-size-3 is-size-4-mobile has-text-weight-normal">
							<a class="has-link-black-ter" href="#">Mission_Peak</a>

						</h1>
						<div class="content">
							<p>【Mission
								Peak·贰】前面内容接【壹】。要说的太多了，能说的也太多了，感觉根本说不完。怎一个妙字了得。爬到半山腰遇到了两波鸟，第一波感觉叫声像乌鸦，可是飞得好低，看起来不大像，第二波厉害了，感觉像射雕里面郭靖黄蓉那一对小雕…QAQ…还有一个意外收获，虽然不知道是地鼠还是什么鼠，但是真的可爱炸了！暴走了两万多步，发现竟然占领了微信运动的第一名，然而一个赞也没有…自从开始敞开胃口以后，就在胖的道路上一去不复返…怎么办…好吃的东西这么多…无法割舍TmT<br><img
										src="/images/Mission_1.jpg"></p>

						</div>
					</div>
				</div>
			</div>



		</div>
	</div>
</section>
<%include common/footer%>

</body>
</html>