<!DOCTYPE html>
<html lang="no">
<%include common/header%>
<body class="is-3-column">
<nav class="navbar navbar-main">
	<div class="container">
		<div class="navbar-brand is-flex-center">
			<a class="navbar-item navbar-logo" href="/">
				<img src="http://pic.k73.com/up/article/2015/0702/163648_66189917.png" alt="Saro" width="50"
					 height="28">
			</a>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item is-active" href="/">Home</a>
				<a class="navbar-item" href="events" >近况</a>
				<a class="navbar-item" href="billbill">billbill</a>
			</div>
		</div>
	</div>
</nav>

<section class="section">
	<div class="outer">
		<div class="columns">
			<div class="column is-0-tablet is-0-desktop is-1-widescreen has-order-1 column-main">
			</div>
			<div class="column is-8-tablet is-8-desktop is-7-widescreen has-order-3 column-main">
				<div class="card">
					<div class="card-content article ">
						<div class="level article-meta is-size-7 is-uppercase is-mobile is-overflow-x-auto">
						</div>
						<h1 class="title is-size-3 is-size-4-mobile has-text-weight-normal">
							<p>Welcome to <a href="https://yuba.douyu.com/group/721" target="_blank" rel="noopener">Saro's
									home</a></a>.</p>
						</h1>
						<div class="content">
							<h3 id="Create-a-new-post"><a href="#Create-a-new-post" class="headerlink"
														  title="Create a new post"></a>一个完整的视频了解完整的SARO๑</h3>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/FIz93kkcyrQ"
									frameborder="0"
									allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</p>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="column is-4-tablet is-4-desktop is-3-widescreen  has-order-2 column-left">
				<div class="card widget">
					<div class="card-content">
						<nav class="level">
							<div class="level-item has-text-centered">
								<div>
									<img class="image is-128x128 has-mb-6"
										 src="https://apic.douyucdn.cn/upload/avatar/012/91/27/80_avatar_big.jpg"
										 alt="Saro">

									<p class="is-size-4 is-block">
										Saro
									</p>
									<p class="is-size-6 is-flex is-flex-center has-text-grey">
										<i class="fas fa-map-marker-alt has-mr-7"></i>
										<span>San Mateo, CA</span>
									</p>
								</div>
							</div>
						</nav>
						<nav class="level is-mobile">
							<div class="level-item has-text-centered is-marginless">
								<div>
									<p class="heading">
										微博关注
									</p>
									<p class="title has-text-weight-normal">
										1
									</p>
								</div>
							</div>
							<div class="level-item has-text-centered is-marginless">
								<div>
									<p class="heading">
										斗鱼关注
									</p>
									<p class="title has-text-weight-normal">
										0
									</p>
								</div>
							</div>
							<div class="level-item has-text-centered is-marginless">
								<div>
									<p class="heading">
										b站关注
									</p>
									<p class="title has-text-weight-normal">
										0
									</p>
								</div>
							</div>
						</nav>
						<div class="level is-mobile">
							<a class="level-item button is-white is-marginless" target="_blank" title="Youtube"
							   href="https://www.youtube.com/channel/UCRT9bmfZJ9-LR781zgwexwA">
								<i class="fa fa-youtube"></i>
							</a>

							<a class="level-item button is-white is-marginless" target="_blank" title="weibo"
							   href="https://www.weibo.com/sarosang?refer_flag=1005050010_&is_hot=1">
								<i class="fa fa-weibo" aria-hidden="true"></i>
							</a>

							<a class="level-item button is-white is-marginless" target="_blank" title="Steam"
							   href="http://twitter.com" >
								<i class="fa fa-steam"></i>
							</a>

							<a class="level-item button is-white is-marginless" target="_blank" title="QQ"
							   href="http://twitter.com">
								<i class="fa fa-qq"></i>
							</a>
						</div>
					</div>
				</div>
				<!--<div class="column-right-shadow is-hidden-widescreen ">
					<div class="card widget">
						<div class="card-content">
							<h3 class="menu-label">
								Recientes
							</h3>

							<article class="media">

								<a href="2019/02/01/hello-world/" class="media-left">
									<p class="image is-64x64">
										<img class="thumbnail" src="images/thumbnail.svg" alt="Hello World">
									</p>
								</a>

								<div class="media-content">
									<div class="content">
										<div>
											<time class="has-text-grey is-size-7 is-uppercase"
												  datetime="2019-02-02T01:47:40.115Z">2019-02-01
											</time>
										</div>
										<a href="2019/02/01/hello-world/"
										   class="has-link-black-ter is-size-6">Hello World</a>
										<p class="is-size-7 is-uppercase">
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>-->
				<!--<div class="card widget">
					<div class="card-content">
						<h3 class="menu-label">
							Recientes
						</h3>

						<article class="media">

							<a href="2019/02/01/hello-world/" class="media-left">
								<p class="image is-64x64">
									<img class="thumbnail" src="images/thumbnail.svg" alt="Hello World">
								</p>
							</a>
							<div class="media-content">
								<div class="content">
									<div>
										<time class="has-text-grey is-size-7 is-uppercase"
											  datetime="2019-02-02T01:47:40.115Z">2019-02-01
										</time>
									</div>
									<a href="2019/02/01/hello-world/" class="has-link-black-ter is-size-6">Hello
										World</a>
									<p class="is-size-7 is-uppercase">
									</p>
								</div>
							</div>
						</article>

					</div>
				</div>
				<div class="card widget">
					<div class="card-content">
						<div class="menu">
							<h3 class="menu-label">
								Archivos
							</h3>
							<ul class="menu-list">
								<li>
									<a class="level is-marginless" href="archives/2019/02/">
						<span class="level-start">
							<span class="level-item">February 2019</span>
						</span>
									</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
					-->
			</div>


		</div>
	</div>
</section>
<%include common/footer%>

</body>
</html>