<!DOCTYPE html>
<html lang="no">
<%include ../common/header.ejs%>
<body class="is-3-column">
<nav class="navbar navbar-main">
    <div class="container">
        <div class="navbar-brand is-flex-center">
            <a class="navbar-item navbar-logo" href="/">
                <img src="http://pic.k73.com/up/article/2015/0702/163648_66189917.png" alt="Saro">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item is-active" href="events">近况</a>
                <a class="navbar-item" href="billbill">billbill</a>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="outer">
        <div class="columns">
            <div class="column is-0-tablet is-0-desktop is-1-widescreen has-order-1 column-main">
            </div>
            <div class="column is-8-tablet is-8-desktop is-7-widescreen has-order-3 column-main">

                <div class="card widget">
                    <div class="card-content">
                        <h3 class="tag is-link">
                            2019
                        </h3>
                        <div class="timeline">

                            <article class="media">

                                <div class="media-content">
                                    <div class="content">
                                        <time class="has-text-grey is-size-7 is-block is-uppercase"
                                              datetime="2019-02-02T01:47:40.115Z">2019-02-01
                                        </time>
                                        <a href="/saro_web/2019/02/01/hello-world/"
                                           class="has-link-black-ter is-size-6">Hello World</a>
                                        <div class="level article-meta is-mobile">
                                            <div class="level-left">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>


            </div>


            <div class="column is-4-tablet is-4-desktop is-3-widescreen  has-order-2 column-left">


                <div class="card widget">
                    <div class="card-content">
                        <nav class="level">
                            <div class="level-item has-text-centered">
                                <div>
                                    <img class="image is-128x128 has-mb-6"
                                         src="https://apic.douyucdn.cn/upload/avatar/012/91/27/80_avatar_big.jpg"
                                         alt="Saro">

                                    <p class="is-size-4 is-block">
                                        Saro
                                    </p>
                                    <p class="is-size-6 is-flex is-flex-center has-text-grey">
                                        <i class="fas fa-map-marker-alt has-mr-7"></i>
                                        <span>San Mateo, CA</span>
                                    </p>
                                </div>
                            </div>
                        </nav>
                        <nav class="level is-mobile">
                            <div class="level-item has-text-centered is-marginless">
                                <div>
                                    <p class="heading">
                                        微博关注
                                    </p>
                                    <p class="title has-text-weight-normal">
                                        1
                                    </p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered is-marginless">
                                <div>
                                    <p class="heading">
                                        斗鱼关注
                                    </p>
                                    <p class="title has-text-weight-normal">
                                        0
                                    </p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered is-marginless">
                                <div>
                                    <p class="heading">
                                        b站关注
                                    </p>
                                    <p class="title has-text-weight-normal">
                                        0
                                    </p>
                                </div>
                            </div>
                        </nav>
                        <div class="level is-mobile">
                            <a class="level-item button is-white is-marginless" target="_blank" title="Youtube"
                               href="https://www.youtube.com/channel/UCRT9bmfZJ9-LR781zgwexwA">
                                <i class="fa fa-youtube"></i>
                            </a>

                            <a class="level-item button is-white is-marginless" target="_blank" title="weibo"
                               href="https://www.weibo.com/sarosang?refer_flag=1005050010_&is_hot=1">
                                <i class="fa fa-weibo" aria-hidden="true"></i>
                            </a>

                            <a class="level-item button is-white is-marginless" target="_blank" title="Steam"
                               href="http://twitter.com" >
                                <i class="fa fa-steam"></i>
                            </a>

                            <a class="level-item button is-white is-marginless" target="_blank" title="QQ"
                               href="http://twitter.com">
                                <i class="fa fa-qq"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="card widget">
                    <div class="card-content">
                        <div class="menu">
                            <h3 class="menu-label">
                                Links
                            </h3>
                            <ul class="menu-list">

                                <li>
                                    <a class="level is-mobile" href="https://hexo.io" target="_blank">
                    <span class="level-left">
                        <span class="level-item">Hexo</span>
                    </span>
                                        <span class="level-right">
                        <span class="level-item tag">hexo.io</span>
                    </span>
                                    </a>
                                </li>

                                <li>
                                    <a class="level is-mobile" href="https://github.com/ppoffice" target="_blank">
                    <span class="level-left">
                        <span class="level-item">PPOffice</span>
                    </span>
                                        <span class="level-right">
                        <span class="level-item tag">github.com</span>
                    </span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card widget">
                    <div class="card-content">
                        <div class="menu">
                            <h3 class="menu-label">
                                Categorias
                            </h3>
                            <ul class="menu-list">

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="column-right-shadow is-hidden-widescreen ">


                    <div class="card widget">
                        <div class="card-content">
                            <h3 class="menu-label">
                                Recientes
                            </h3>

                            <article class="media">

                                <a href="/saro_web/2019/02/01/hello-world/" class="media-left">
                                    <p class="image is-64x64">
                                        <img class="thumbnail" src="/saro_web/images/thumbnail.svg" alt="Hello World">
                                    </p>
                                </a>

                                <div class="media-content">
                                    <div class="content">
                                        <div>
                                            <time class="has-text-grey is-size-7 is-uppercase"
                                                  datetime="2019-02-02T01:47:40.115Z">2019-02-01
                                            </time>
                                        </div>
                                        <a href="/saro_web/2019/02/01/hello-world/"
                                           class="has-link-black-ter is-size-6">Hello World</a>
                                        <p class="is-size-7 is-uppercase">

                                        </p>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>


                    <div class="card widget">
                        <div class="card-content">
                            <div class="menu">
                                <h3 class="menu-label">
                                    Archivos
                                </h3>
                                <ul class="menu-list">

                                    <li>
                                        <a class="level is-marginless" href="/saro_web/archives/2019/02/">
                <span class="level-start">
                    <span class="level-item">February 2019</span>
                </span>
                                            <span class="level-end">
                    <span class="level-item tag">1</span>
                </span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card widget">
                        <div class="card-content">
                            <div class="menu">
                                <h3 class="menu-label">
                                    Etiquetas
                                </h3>
                                <div class="field is-grouped is-grouped-multiline">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</section>




<script src="https://cdn.jsdelivr.net/npm/mathjax@2.7.5/unpacked/MathJax.js?config=TeX-MML-AM_CHTML" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        MathJax.Hub.Config({
            'HTML-CSS': {matchFontHeight: false},
            SVG: {matchFontHeight: false},
            CommonHTML: {matchFontHeight: false}
        });
    });
</script>
<%include ../common/footer.ejs%>

</body>
</html>